@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-list{
    overflow: hidden;
}
.slick-track {
    display: flex;
    width: 97%;
}
.slick-prev {
    position: absolute;
    top: 180px;
    z-index: 10;
    border: 1px solid white;
    /*background: url("https://www.clipartmax.com/png/middle/177-1773536_arrow-left-icon-next-and-previous-buttons-png.png") no-repeat center/cover;*/
}
.slick-next {
    position: absolute;
    right: 0;
    top: 180px;
    border: 1px solid white;
    z-index: 10;
}
@tailwind base;
@tailwind components;
@tailwind utilities;